<a href="https://colab.research.google.com/github/Shammachale0102/DSBDA-Assignment/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# 1. import all required python libraries
#import numpy as np
import pandas as pd

import matplotlib
from matplotlib import pyplot as plt
#matplotlib.style.use('ggplot')

import seaborn as sns

In [18]:
#2. preparing to load data into colab from loacal drive
from google.colab import files 
uploaded=files.upload()

Saving iris_dataset.csv to iris_dataset (1).csv

In [19]:
# 3. Loading data into dataframe
import io 
df=pd.read_csv(io.BytesIO(uploaded['iris_dataset.csv']))   #import csv file in dataframe called df
# Dataset is now stored in a pandas Dataframe

In [20]:
#classes = df['Species'].unique().tolist()
#classes

In [21]:
#4.1 Information of the data present in dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [22]:
#4.2 Getting the dimension/shape of the data.
# Expect it to be 150 rows and 5 columns.

print(df.shape)

(150, 5)

In [23]:
# print the first 20 data points--the head of the dataset
print(df.head(10))

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
6                4.6               3.4                1.4               0.3
7                5.0               3.4                1.5               0.2
8                4.4               2.9                1.4               0.2
9                4.9               3.1                1.5               0.1

        target
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa
5  Iris-setosa
6  Iris-setosa
7  Iris-setosa
8  Iris-setosa
9  Iris-setosa

In [24]:
#4.3 Describing the data present in dataset
# Use the describe function to describe same of the
print(df.describe())

       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.054000           3.758667
std             0.828066          0.433594           1.764420
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)
count        150.000000
mean           1.198667
std            0.763161
min            0.100000
25%            0.300000
50%            1.300000
75%            1.800000
max            2.500000

In [25]:
#4.4 check the data types in the dataframe
df.dtypes

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
target                object
dtype: object

In [26]:
df["target"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [27]:
#4.5 Use the groupby method to determine the class distribution
print(df.groupby('target').size())

target
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [28]:
#4.6 Data points count value for each class labels.
df.target.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: target, dtype: int64

In [29]:

#4.5 checking for missing value
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [30]:
#6. Turning categorical variables into quantitative variables

from sklearn import preprocessing
#Label_encoder object knows how to understand word labels
Label_encoder= preprocessing.LabelEncoder()

#Encoder Labels in column 'species
df['target']=Label_encoder.fit_transform(df['target'])
df['target'].unique()

array([0, 1, 2])

In [31]:
import pandas as pd

In [32]:
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [33]:
iris = pd.read_csv(csv_url, header = None)

In [34]:
#Iris doesnt have column name so give it
col_names =['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']

In [35]:
iris = pd.read_csv(csv_url, names = col_names)

In [36]:
df1=df=iris

In [37]:
iris.head(8)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa

In [38]:
iris.tail()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [39]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [40]:
iris.columns

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'],
      dtype='object')

In [41]:
iris.shape

(150, 5)

In [42]:
iris.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [43]:

iris.describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [44]:
iris.columns.values

array(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'], dtype=object)

In [45]:
iris.iloc[5]

Sepal_Length            5.4
Sepal_Width             3.9
Petal_Length            1.7
Petal_Width             0.4
Species         Iris-setosa
Name: 5, dtype: object

In [46]:
iris[47:51]

    Sepal_Length  Sepal_Width  Petal_Length  Petal_Width          Species
47           4.6          3.2           1.4          0.2      Iris-setosa
48           5.3          3.7           1.5          0.2      Iris-setosa
49           5.0          3.3           1.4          0.2      Iris-setosa
50           7.0          3.2           4.7          1.4  Iris-versicolor

In [47]:
iris.loc[:,["Sepal_Length","Sepal_Width"]] #See data column wise

     Sepal_Length  Sepal_Width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [48]:
cols_2_4=iris.columns[2:4]
iris[cols_2_4]

     Petal_Length  Petal_Width
0             1.4          0.2
1             1.4          0.2
2             1.3          0.2
3             1.5          0.2
4             1.4          0.2
..            ...          ...
145           5.2          2.3
146           5.0          1.9
147           5.2          2.0
148           5.4          2.3
149           5.1          1.8

[150 rows x 2 columns]

In [49]:
iris.isnull().any()

Sepal_Length    False
Sepal_Width     False
Petal_Length    False
Petal_Width     False
Species         False
dtype: bool

In [50]:
iris.isnull().sum()

Sepal_Length    0
Sepal_Width     0
Petal_Length    0
Petal_Width     0
Species         0
dtype: int64

In [51]:
iris.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [52]:
df=iris
df['petal Length(cm)']=iris['Petal_Length'].astype("int")

In [53]:
df1=df

In [54]:
df

,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Species,petal Length(cm)
0,5.1,3.5,1.4,0.2,Iris-setosa,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1
2,4.7,3.2,1.3,0.2,Iris-setosa,1
3,4.6,3.1,1.5,0.2,Iris-setosa,1
4,5.0,3.6,1.4,0.2,Iris-setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,5
146,6.3,2.5,5.0,1.9,Iris-virginica,5
147,6.5,3.0,5.2,2.0,Iris-virginica,5
148,6.2,3.4,5.4,2.3,Iris-virginica,5
149,5.9,3.0,5.1,1.8,Iris-virginica,5

Data Normalization

In [55]:
#Import pandas and sklearn library for preprocessing
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()

In [56]:

X=iris.iloc[:,:4]

In [57]:
X

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [58]:
# Create an object to transfrom the data to fit minmax processor
X_scaled = min_max_scaler.fit_transform(X)

In [59]:
df_normalized = pd.DataFrame(X_scaled)

In [60]:
df_normalized

            0         1         2         3
0    0.222222  0.625000  0.067797  0.041667
1    0.166667  0.416667  0.067797  0.041667
2    0.111111  0.500000  0.050847  0.041667
3    0.083333  0.458333  0.084746  0.041667
4    0.194444  0.666667  0.067797  0.041667
..        ...       ...       ...       ...
145  0.666667  0.416667  0.711864  0.916667
146  0.555556  0.208333  0.677966  0.750000
147  0.611111  0.416667  0.711864  0.791667
148  0.527778  0.583333  0.745763  0.916667
149  0.444444  0.416667  0.694915  0.708333

[150 rows x 4 columns]

Handaling Categorical Variables

In [61]:
df2=df
df2['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [62]:
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder()

In [63]:
features_df=df2.drop(columns=['Species'])

In [64]:
features_df

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  petal Length(cm)
0             5.1          3.5           1.4          0.2                 1
1             4.9          3.0           1.4          0.2                 1
2             4.7          3.2           1.3          0.2                 1
3             4.6          3.1           1.5          0.2                 1
4             5.0          3.6           1.4          0.2                 1
..            ...          ...           ...          ...               ...
145           6.7          3.0           5.2          2.3                 5
146           6.3          2.5           5.0          1.9                 5
147           6.5          3.0           5.2          2.0                 5
148           6.2          3.4           5.4          2.3                 5
149           5.9          3.0           5.1          1.8                 5

[150 rows x 5 columns]

In [65]:
enc_df=(enc.fit_transform(df2[['Species']])).toarray()

In [66]:

enc_df = pd.DataFrame(enc_df, columns = ['Iris-Setosa','Iris-Versicolor','Iris-Virginica'])

In [67]:
df_encode = features_df.join(enc_df)

In [68]:
df_encode

,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,petal Length(cm),Iris-Setosa,Iris-Versicolor,Iris-Virginica
0,5.1,3.5,1.4,0.2,1,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,1,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,1,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,1,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,1,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,5,0.0,0.0,1.0
146,6.3,2.5,5.0,1.9,5,0.0,0.0,1.0
147,6.5,3.0,5.2,2.0,5,0.0,0.0,1.0
148,6.2,3.4,5.4,2.3,5,0.0,0.0,1.0
149,5.9,3.0,5.1,1.8,5,0.0,0.0,1.0